{% include "shared/header.html" %}

<div style="position: relative; margin: 30px;">
    <div style="font-size: 1.5rem; font-weight: 700;">
        <a href="/@{{ username }}/{{ name }}">@{{ username }}</a>/<a
            href="/@{{ username }}/{{ name }}/tree/{{ commits[0].id }}">{{ name }}</a>
    </div>

    <div style="max-width: 800px;">
        <ul>
            {% for commit in commits %}
            <li>
                <p>{{ commit.message }} (<a style="color: #70c5bf;"
                        href="/@{{ username }}/{{ name }}/tree/{{ commit.id }}">{{ commit.id[0..8] }}</a>)</p>
                <p>{{ commit.author.name }} - {{ commit.author.email }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% include "shared/footer.html" %}