{% include "shared/header.html" %}

<div style="position: relative; margin: 30px;">
    <div style="font-size: 1.5rem; font-weight: 600;">
        <a href="/@{{ username }}/{{ name }}">@{{ username }}</a> /
        {% match branch %}
        {% when Some with (val) %}
        <a href="/@{{ username }}/{{ name }}/tree/{{ val }}">{{ name }}</a>
        {% when None %}
        <a href="/@{{ username }}/{{ name }}">{{ name }}</a>
        {% endmatch %}
    </div>

    <div style="max-width: 800px;">
        <ul>
            {% for commit in commits %}
            <li>
                <p>{{ commit.message }} (<a style="color: #70c5bf;"
                        href="/@{{ username }}/{{ name }}/commit/{{ commit.id }}">{{ commit.id[0..8] }}</a>) <a
                        style="color: #70c5bf;" href="/@{{ username }}/{{ name }}/tree/{{ commit.id }}">tree</a></p>
                <p>{{ commit.author.name }} - {{ commit.author.email }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div>
        {% if parent_count > 0 %}
        {% let last = commits.last().unwrap() %}
        <a href="?from={{ last.id }}">next</a>
        {% endif %}
    </div>
</div>

{% include "shared/footer.html" %}