{% include "shared/header.html" %}

<div style="position: relative; margin: 30px;">
    {% for user in users %}
    <h2>
        <a href="/@{{ user.username }}">@{{ user.username }}</a>
    </h2>
    {% if user.repositories.len() != 0 %}
    <ul>
        {% for repository in user.repositories %}
        <li>
            <a href="/@{{ user.username }}/{{ repository.name }}">{{ repository.name }}</a>({{ repository.visibility }})
            - {{ repository.description }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endfor %}
</div>

{% include "shared/footer.html" %}