{% include "shared/header.html" %}
<div style="position: relative; margin: 30px;">
    <h1>Update Password - Settings</h1>

    <form method="post" action="update_password">
        <div>
            <label>old password</label>
            <input type="password" name="password0">
        </div>
        <div>
            <label>new password</label>
            <input type="password" name="password1">
        </div>
        <div>
            <label>confirm new password</label>
            <input type="password" name="password2">
        </div>
        <div>
            <input type="submit" value="update password">
        </div>
    </form>
</div>
{% include "shared/footer.html" %}