{% include "shared/header.html" %}

<div style="position: relative; margin: 30px;">
    <h2>
        <a href="/@{{ username }}">@{{ username }}</a>
    </h2>
    <h4>{{ repository.name }}</h4>
    <p>{{ repository.description }}</p>

    <a href="/@{{ username }}/{{ name }}/commits">commits</a>

    <div style="max-width: 800px;">
        <p>{{ commit.message }} (<span style="color: #70c5bf;">{{ commit.id[0..8] }}</span>)</p>
        <p>{{ commit.author.name }} - {{ commit.author.email }}</p>
    </div>

    <ul>
        {% for entry in entries %}
        <li>
            <a href="/@{{ username }}/{{ name }}/tree/{{ branch }}/{{ entry.name }}">
                {{ entry.name }}{% if entry.kind.as_str() == "Tree" %}/{% else if entry.kind.as_str() == "Submodule"
                %}*{% endif %}
            </a>
        </li>
        {% endfor %}
    </ul>

    {% match readme %}
    {% when Some with ((file_name, content)) %}
    <h1>{{ file_name }}</h1>
    <div style="border-bottom: 1px solid #e7e7e8; width: 100%;"></div>
    <div>
        {{ content|safe }}
    </div>
    {% when None %}
    {% endmatch %}
</div>

{% include "shared/footer.html" %}