{% include "shared/header.html" %}

<div style="position: relative; margin: 30px;">
    <div>{{ breadcrumb|safe }}</div>

    <div>
        <h2>
            <a href="/@{{ username }}">@{{ username }}</a>
        </h2>
        <h4><a href="/@{{ username }}/{{ repository.name }}/tree/{{ branch }}">{{ repository.name }}</a></h4>
        <p>{{ repository.description }}</p>
    </div>

    <div style="margin-bottom: 15px;">
        <a href="/@{{ username }}/{{ name }}/branches">branches</a>
        <a href="/@{{ username }}/{{ name }}/commits/{{ branch }}">commits</a>
        <a href="/@{{ username }}/{{ name }}/issues">issues</a>
    </div>

    <div>
        branch: <a href="/@{{ username }}/{{name}}/tree/{{ branch }}">{{ branch }}</a>
    </div>

    <div style="max-width: 800px;">
        <p>{{ commit.message }} (<a href="/@{{ username }}/{{ name }}/commit/{{ commit.id }}" style="color: #70c5bf;">{{
                commit.id[0..8] }}</a>)</p>
        <p>{{ commit.author.name }} - {{ commit.author.email }} - <span title="{{ commit.datetime }}"
            style="color: rgb(139, 144, 147);">{{ commit.relative_time }}</span></p>
    </div>

    <ul>
        {% for entry in entries %}
        <li>
            <a
                href="/@{{ username }}/{{ name }}/tree/{{ branch }}{% if !tail.is_empty() %}/{{ tail }}{% endif %}/{{ entry.name }}">
                {{ entry.name }}{% if entry.kind.as_str() == "Tree" %}/{% else if entry.kind.as_str() == "Submodule"
                %}*{% endif %}
            </a>
        </li>
        {% endfor %}
    </ul>

    {% match readme %}
    {% when Some with ((file_name, content)) %}
    <h1>{{ file_name }}</h1>
    <div style="border-bottom: 1px solid #e7e7e8; width: 100%;"></div>
    <div>
        {{ content|safe }}
    </div>
    {% when None %}
    {% endmatch %}
</div>

{% include "shared/footer.html" %}