{% include "shared/header.html" %}

<div style="position: relative; margin: 30px;">
    <div style="max-width: 800px;">
        <p>{{ commit.message }}</p>
        <p>{{ commit.author.name }} - {{ commit.author.email }}</p>
    </div>
    <ul>
        {% for entry in entries %}
        <li>
            <a href="/repository/{{ name }}/tree/{{ branch }}/{{ tail }}/{{ entry.name }}">
                {{ entry.name }}{% if entry.kind.as_str() == "Dir" %}/{% endif %}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>

{% include "shared/footer.html" %}