{% include "shared/header.html" %}

<div style="position: relative; margin: 30px;">
    <h4>Log:</h4>
    <ul style="display: flex; flex-direction: column; row-gap: 1ch;">
        {% for entry in log %}
        <li>
            <div>
                <div>
                    <a href="">{{ entry.event }}</a>
                </div>
                <div>{{ entry.description }}</div>
                <div>
                    <span style="color: rgb(139, 144, 147);" title="{{ entry.created_at_dt() }}">{{ entry.created_at() }}</span>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% include "shared/footer.html" %}